<h1>Add an Album</h1>

<form action="<%= albums_url %>" method="post">
  <label for="albumn_name">Name</label>
  <input id="album_name" type="text" name="album[name]">

  <br>

  <select name="album[band_id]">
    <% all_bands.each do |band| %>
      <option value="<%= band.id %>"><%= band.name.capitalize %></option>
    <% end %>
  </select>

  <br>

  <label for="live">Live</label>
  <input id="live" type="radio" name="album[performed]" value="Live">
  <label for="performed">Performed</label>
  <input id="performed" type="radio" name="album[performed]" value="Performed">

  <br>

  <input type="submit" value="Submit">
</form>
